.card {
	padding: 150px 240px;
	border: 1px solid black;
	background-position 24px / center;
	border-radius: 5px;
	font-size: 1.5rem;
}
.card:after {
	font-size: 80%;
	font-weight: bold;
}

.spades,
.spades:after {
	content: "♤";
	color: black;
}

.heart,
.heart:after {
	content: "♡";
	color: red;
}

